* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 20px;   
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header section {
    display: flex;
}

header section article {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #F3F3F3;
}

main {
    display: flex;
    justify-content: center;
    padding: 35px 20px;
    background-color: #e5e5e5;
}

.mainLeft {
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    flex-basis: 50%;
    height: 350px;
    margin-right: 5px;
    border-radius: 5px;
}

.mainLeft article {
    padding: 20px 0px 0px 20px;
}

.mainTextRed {
    color: #FC200C;
    font-size: 24px;
    font-weight: 700;
}

.mainTextWhite {
    color: #Ffffff;
    font-size: 24px;
    font-weight: 700;
}

.mainRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    padding: 25px 75px 0px 50px;
    box-sizing: border-box;
}

main section h1 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #FC200C;
}

main section div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;
    font-weight: 700;
    color: #222222;
}

main section div div h2 {
    padding-bottom: 15px;
    font-size: 20px;
}

main section div div li {
    padding: 5px 0px;
    font-size: 16px;
}

main section div img {
    padding-bottom: 90px;
}

footer {
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 20px;
}

footer section article {
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 0px;
}